@import "macchiato.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces{
  padding: 0.5rem 1rem;
}

#workspaces button {
  padding: 0;
}

#workspaces button, #taskbar button, #privacy-item{
  color: @lavender;
  border-radius: 1rem;
}

#workspaces button.active, #taskbar button.active {
  color: @sky;
}

#workspaces button:hover, #taskbar button:hover {
  color: @sapphire;
}

#taskbar, #workspaces, #privacy, #systemd-failed-units, #custom-launcher, #custom-window {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
}

#systemd-failed-units{
  padding: 0.5rem 1rem;
}

#custom-window{
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid @surface0;
  color: @sapphire;
  padding: 0.5rem 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#idle_inhibitor,
#bluetooth {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#idle_inhibitor {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-lock{
    color: @lavender
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}


#custom-launcher {
  border-radius: 1rem;
  margin: 5px;
  padding: 0.5rem 1rem;
  background-color: @surface0;
  margin-left: 1rem;
}
